<common-page-framework >
    <aside>
        The Signing Authority is the person with the authority to sign the Data Access Agreement that binds your Organization to the terms and conditions document. Only one <b>Signing Authority</b> can be added per Organization.
    </aside>
<h2 class="border-bottom">Signing Authority</h2>
<div *ngIf="fg">

  <sitereg-msp-register-user-msp [fg]="fg" [showMspDirectAccessQuestion]="true" ></sitereg-msp-register-user-msp>

</div>
<div *ngIf="environment.debug">
    Debugging purposes only:
    <ngx-json-viewer [json]="schemaObject()" [expanded]="true"></ngx-json-viewer>
</div>
</common-page-framework>
<common-form-action-bar (btnClick)="continue()" [canContinue]="fg.valid">

</common-form-action-bar>
