<common-page-framework layout='blank'>
  <h3>Signing Authority</h3>
  <p>The Signing Authority represents the Organization. An Organization can only have a single Signing Authority.</p>
  <hr>

  <div class="row">
    <button type='button' class='btn btn-secondary col mr-4' (click)="addSigningAuthority()">Add Signing Authority</button>
    <button type='button' class='btn btn-secondary col mx-2' (click)="removeSigningAuthority()">Remove Signing Authority</button>
    <button type='button' class='btn btn-secondary col ml-4' (click)="updateSigningAuthority()">Update Signing Authority</button>
  </div>

</common-page-framework>
<common-form-action-bar (btnClick)="continue()"  [submitLabel]="buttonLabel" >
</common-form-action-bar>
