<h2 class="border-bottom">Users</h2>
<div class='row mb-4'>
  <div class='col-md-3 p-4'>
    <a (click)='addUser()'>
      <button class="btn btn-block btn-lg btn-secondary">
        Add User
      </button>
    </a>
  </div>
</div>
<sitereg-page-sections *ngFor="let fg of fgs; index as i">
  <h2 class="border-bottom">User #{{fgs.length-i}}</h2>
  <button (click)="delete(i)">Delete</button>

  <sitereg-msp-register-user [fg]="fg"></sitereg-msp-register-user>
</sitereg-page-sections>
<common-form-action-bar (btnClick)="continue()" [canContinue]="validateFormGroup(fgs)">

</common-form-action-bar>
