<h2 class="border-bottom">Users</h2>
<sitereg-page-sections *ngIf="fg">

      <sitereg-msp-register-person [fg]="fg"></sitereg-msp-register-person>

<!-- Title (optional); multi-select -->

<!-- First Name -->
<!-- Int -->
<!-- Job Title -->
<!-- Email Address -->
<!-- Confirm Email Address -->
<!-- Phone -->
<!-- Ext (optional) -->
<!-- Fax -->
<!-- Does the Signing Authority require access to MSP Direct?; multi-select(yes/no) -->


</sitereg-page-sections>
<common-form-action-bar (btnClick)="continue()" [canContinue]="fg.valid">

</common-form-action-bar>
