<h2 class="border-bottom">Users</h2>
<div class='row mb-4'>
  <div class='col-md-3 p-4'>
    <a (click)='addFormGroup()'>
      <button class="btn btn-block btn-lg btn-secondary">
        Add New User
      </button>
    </a>
  </div>
</div>
<sitereg-page-sections *ngFor="let fg of fgs; index as i">
  <div class="row border-bottom">
    <div class="col-auto mr-auto">
      <h3> User #{{fgs.length-i}}</h3>
    </div>
    <div class="col-auto">
      <button (click)="deleteFormGroup(i)" type="button" class="btn delete" alt>
        <i style="color: red !important;" class="fa fa-2x fa-times-circle"></i>
    </button>
  </div>
  </div>
  <sitereg-msp-register-user [fg]="fg"></sitereg-msp-register-user>
</sitereg-page-sections>
<common-form-action-bar  class="fixed-bottom" (btnClick)="continue()" [canContinue]="validateFormGroup(fgs)">
</common-form-action-bar>