<h2 class="border-bottom">Organization</h2>
<sitereg-page-sections *ngIf="fg">

  <form [formGroup]="fg">
    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label" for="name">Organization</label>
      <input id="name" formControlName="name" class="form-control">
      <div class="text-danger" *ngIf="fg.invalid">
        {{ fg.errors}}
      </div>
      <label class="control-label" for="address">Street Address</label>
      <input id="adddress" formControlName="address" class="form-control">
      <div class="text-danger" *ngIf="fg.invalid">
        {{ fg.errors}}
      </div>

      <label class="control-label" for="city">City</label>
      <input id="city" formControlName="city" class="form-control">
      <div class="text-danger" *ngIf="fg.invalid">
        {{ fg.errors}}
      </div>

      <label class="control-label" for="city">Province</label>
      <select class="form-control" *ngIf="provinces | async as provinces">
        <option value="null" label="-- Select Province --" selected></option>
        <option *ngFor="let province of provinces " [value]="province.provCode">{{province.description}}</option>
      </select>

      <label class="control-label" for="postalCode">PostalCode</label>
      <input id="postalCode" formControlName="postalCode" class="form-control">
      <div class="text-danger" *ngIf="fg.invalid">
        {{ fg.errors}}
      </div>

      <label class="control-label" for="thirdParty">Are you contracting a 3rd party to administer MSP direct on you
        behalf?
      </label>
      <div class="radio-class">
        <label for="thirdPartyTrue">Yes</label>
        <input type="radio" id="thirdPartyTrue" formControlName="thirdParty" class="form-control">
        <label for="thirdPartyFalse">No</label>
        <input type="radio" id="thirdPartyFalse" formControlName="thirdParty" class="form-control">

        <div class="text-danger" *ngIf="fg.invalid">
          {{ fg.errors}}
        </div>
      </div>

      <label class="control-label">Are you applying to access MSP Direct through Blue Cross?
      </label>
      <div class="form-check">
        <input class='form-check-input' formControlName="blueCross" type="radio" name="" id="aatruev" [checked]="fg.controls['blueCross']"
          tabindex="0" [value]="true">
        <label class='form-check-label' for="aatrue">
          Yes
        </label>


        <input class='form-check-input' formControlName="blueCross" type="radio" id="aafalse" [checked]="!fg.controls['blueCross']"
          tabindex="0" [value]="false">
        <label class='form-check-label' for="aafalse">
          No
        </label>
      </div>
      <label class="control-label" for="city">This organization will be adminstering MSP for</label>
      <select class="form-control" *ngIf="administeringFor | async as administering">
        <option value="null" label="-- Select Organization --" selected></option>
        <option *ngFor="let a of administering " [value]="a">{{a}}</option>
      </select>
    </div>
  </form>
</sitereg-page-sections>
<common-form-action-bar (btnClick)="continue()" [canContinue]="fg.valid">

</common-form-action-bar>
