<common-page-framework layout='default'>

    <h1>Maintenance Mode</h1>

    <p>The online system for MSP Direct Access is currently unavailable. We apologize for the inconvenience. Please try again after the maintenence window is over by refreshing your browser.</p>

    <h2 class="border-bottom">Maintenance times</h2>
    <p>Maintenance window start: <strong>{{startTime}}</strong></p>
    <p>Maintenance window end: <strong>{{ endTime }}</strong></p>
    <p class="font-italic text-muted ml-4">Note: Times are in PST / British Columbia's timezone.</p>

    <ng-container *ngIf="message && message.length">
        <h2 class="border-bottom">Maintenance message</h2>
        <div class="p-md-2 bg-light">
            {{ message }}
        </div>
    </ng-container>

    <div class="p-md-4">
        <p>More information is available on <a target="_blank" href="{{links.FAQ}}">Frequently Asked Questions</a></p>
        <p>If you require additional assistance, contact <a target="_blank" href="{{links.MSP}}">MSP Direct</a></p>
    </div>

</common-page-framework>