<form [formGroup]="parentForm">
  <div formArrayName="arrayOfForms" *ngFor="let fg of getFormsArray.controls; let formIndex=index">
    <form [formGroupName]='formIndex'>
      <common-xicon-button class='d-block pb-1' label="Cancel Remove Access Administrator" (clickEvent)="removeForm(formIndex)">
      </common-xicon-button>
      <h2 class='border-bottom'>Add a new MSP Group #{{getFormsArray.controls.length - formIndex}}</h2>
      <common-page-section layout='tips'>
      <aside>MSP Group Information</aside>

      <div class='form-group col-sm-8 p-sm-0'>
        <label for='groupNo_{{formIndex}}'>Enter MSP Group Number</label>
        <input type='text' class='form-control' formControlName='groupNo' id='groupNo_{{formIndex}}' maxlength="7">

        <sitereg-error-box [error]="validFormControl(fg, 'groupNo')" errorMessage="Please provide valid Group Number">
        </sitereg-error-box>

        <common-radio [radioLabels]="radioBtnLabels"
        formControlName="thirdPartyAdmin"
        label="Will this group be administered by a Third Party Administrator?"></common-radio>


        <!-- <div class="border border-info mt-4 p-2 ">
          <b>FORM :</b>
          {{fg.value | json}}
          <hr />
          <b>JSON :</b>
          {{generateJSON(fg.value) | json}}
        </div> -->

      </div>
    </common-page-section>
    </form>
  </div>
</form>