<common-page-framework layout='blank'>

  <h1 class="border-bottom">Summary of Changes</h1>
  <common-page-section layout="tips">
    <!-- <sitereg-msp-h2-with-print title="#NotForTesting Submit"></sitereg-msp-h2-with-print> -->

    <!-- <h2 class='h1'>Summary of Changes:</h2> -->
    <p>

      <sitereg-update-json-view [showRaw]="false" [showJson]="true" [json]='json()'></sitereg-update-json-view>

    </p>

    <div class="p-4">
      <common-captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="nonce" (onValidToken)="setToken($event)"
        [successMessage]="'  '"></common-captcha>
    </div>
  </common-page-section>
</common-page-framework>
<common-form-action-bar [isLoading]="isProcessing" [defaultColor]="false"  (btnClick)="continue()" submitLabel="Submit" [canContinue]='canContinue()'>
</common-form-action-bar>