<common-page-framework layout='blank'>
  <h2 class='h1'>Organization</h2>
  <p>
    The Organization Information refers to the entity that has MSP Direct
    access and that includes a Signing Authority, one ore more Access
    Administrators, MSP Users, and MSP Groups.
  </p>


  <hr>
  
  <common-toggle label='Do you need to do any Updates to your Organization Information?'
                 [data]="hasOrganizationUpdates" (dataChange)="orgUpdatesChange($event)"></common-toggle>

<div *ngIf="hasOrganizationUpdates">
    <sitereg-update-organization-edit #formOrganizationEdit 
    [formState]="formOrganizationState"
    (statusChanged)="organizationFormStatusChanged($event)"></sitereg-update-organization-edit>

</div>
  <!-- <ng-container *ngIf="organizationForm"> -->
    <!-- <sitereg-msp-register-organization></sitereg-msp-register-organization> -->
    <!-- <sitereg-organization-form [(fg)]='organizationForm'></sitereg-organization-form> -->
    <!-- TODO - Looks like 2-way binding isn't necessary, it's a pass-by-reference object. -->
    <!-- <sitereg-organization-form mode='update'[fg]='organizationForm'></sitereg-organization-form> -->
    <!-- <sitereg-update-organization-edit></sitereg-update-organization-edit>  -->
<!-- 
  <div class="row border border-info mt-4 p-2 ">
    <b>FORM :</b>
    {{fg.value | json}}
    <hr />
    <b>JSON :</b>
    {{getJsonPayload| json}}
  </div> -->

</common-page-framework>
<common-form-action-bar (btnClick)="continue()"
                        submitLabel="Continue"
                        [canContinue]="canContinue()">
</common-form-action-bar>