<!-- TODO: bit of thinking as to how to make the component work for this. -->
<common-page-framework layout="blank">
  <h1>Group Numbers</h1>
  <p class="border-bottom">These are the <b>MSP Group Numbers</b> you will be administering for MSP Direct. The form should include at least
    one MSP Group Number.</p>
  <common-page-section layout="tips">
  <!-- <aside>
    These are the <b>MSP Group Numbers</b> you will be administering for MSP Direct. The form should include at least
    one MSP Group Number.
  </aside> -->
  <div class='row mb-4'>
    <div class='col-md-6 p-4'>
      <a (click)='addFormGroup()'>
        <button class="btn btn-block btn-lg btn-secondary">
          Add New Group Number
        </button>
      </a>
    </div>
  </div>
  <!-- <sitereg-page-sections *ngFor="let fg of fgs; index as i"> -->
  <div *ngFor="let fg of fgs; index as i">
    <div class="row border-bottom">
      <div class="col-auto mr-auto">
        <h2> Group Number #{{fgs.length-i}}</h2>
      </div>
      <div class="col-auto">
        <button (click)="deleteFormGroup(i)" type="button" class="btn delete" aria-label="Delete" id="delete_{{i}}">
          <i style="color: red !important;" class="fa fa-2x fa-times-circle" ></i>
        </button>
      </div>
    </div>
    <form [formGroup]="fg">

      <!--Group Number-->
      <div class="form-group col-sm-6 p-sm-0">
        <label class="control-label" for="groupNumber_{{i}}">MSP Group Number #</label>
        <input id="groupNumber_{{i}}" formControlName="groupNumber" class="form-control" maxlength="7">
        <sitereg-error-box [error]="validFormControl(fg, 'groupNumber')"
          errorMessage="Invalid Group Number, Group number must be 7 digits long.">
        </sitereg-error-box>
      </div>
      <!--Question Third Party  -->
      <!-- <div class="form-group col-sm-8 p-sm-0" >
        <label class="control-label">Will this group be administered by a 3rd Party Administrator?  </label>
        <common-radio class="pt-0 mt-0" formControlName="thirdParty" [radioLabels]='[{"label": "No", "value": "false"},{ "label": "Yes", "value": "true"}]'  [value]="thirdParty" display="inline-block"> </common-radio>       
      </div> -->

      <!--Question Third Party -->
      <div class="form-group col-sm-8 p-sm-0" *ngIf="organization.thirdParty" >
        <fieldset>
        <legend hidden="true"></legend>
        <span class="control-label">Will this group be administered by a 3rd Party Administrator? </span>
        <br />
        <div class="md-radio md-radio-inline">
          <input formControlName="thirdParty" type="radio" id="bcfalse_{{i}}" tabindex="0" [value]="false"> <label
            for="bcfalse_{{i}}">No</label>
          <input formControlName="thirdParty" type="radio" id="bctrue__{{i}}" tabindex="0" [value]="true"> <label
            for="bctrue__{{i}}">Yes</label>
        </div>
      </fieldset>
      </div>

    </form>
  </div>
  <!-- </sitereg-page-sections> -->
  <div *ngIf="globalConfigSvc.debug">
    Debugging purposes only:
    <ngx-json-viewer [json]="schemaObject()" [expanded]="true"></ngx-json-viewer>
  </div>
  </common-page-section>
</common-page-framework>
<common-form-action-bar (btnClick)="continue()" [canContinue]="validFormGroup(fgs)">
</common-form-action-bar>