<common-page-framework layout='blank'>
  <h3>Access Administrator </h3>
  <p><small>Access Administrators are the primary contacts within your Organization for all question and
      concerns about user access to the Ministry of Health web applications. They are responsible for registering users,
      assiging users, assigning and cancelling access persmissions, co-ordinating the installation of the digital
      certificate on users's computers and other responsibilites identified by the Ministry.
      <b>{{componentInfo}}</b></small>
  </p>
  <hr>
  <div class="row mb-4">
    <button type='button' class='btn btn-secondary col mr-4' [disabled]='showAddAccessAdmin'
      (click)="addAccessAdmin()">Add Access Administrator</button>
    <button type='button' class='btn btn-secondary col mx-2' [disabled]='showRemoveAccessAdmin'
      (click)="removeAccessAdmin()">Remove Access Administrator</button>
    <button type='button' class='btn btn-secondary col ml-4' [disabled]='showUpdateAccessAdmin'
      (click)="updateAccessAdmin()">Update Access Administrator</button>
  </div>

  <div *ngIf="showAddAccessAdmin">

    <common-xicon-button class='d-block pb-1' label="Cancel Add Access Administrator"
      (clickEvent)="cancelAddAccessAdmin()"></common-xicon-button>

    <h4 class='border-bottom'>Add a new Access Administrator</h4>

  </div>
  <div *ngIf="showRemoveAccessAdmin">

    <common-xicon-button class='d-block pb-1' label="Cancel Remove Access Administrator"
      (clickEvent)="cancelRemoveAccessAdmin()"></common-xicon-button>

    <!-- <h4 class='border-bottom'>Remove an existing Access Administrator</h4> -->

    <sitereg-update-access-admin-remove></sitereg-update-access-admin-remove>

  </div>
  <div *ngIf="showUpdateAccessAdmin">

    <common-xicon-button class='d-block pb-1' label="Cancel Update Access Administrator"
      (clickEvent)="cancelUpdateAccessAdmin()"></common-xicon-button>
    <h4 class='border-bottom'>Update Access Administrator</h4>
  </div>

</common-page-framework>

<common-page-framework>
</common-page-framework>
<common-form-action-bar (btnClick)="continue()" [submitLabel]="buttonLabel">
</common-form-action-bar>