<!-- TODO: bit of thinking as to how to make the component work for this. -->
<common-page-framework layout='blank'>
  <h2 class="border-bottom">Review: Request for MSP Direct Access!</h2>
  <div class='row mb-1'>
    <div class='col-md-8 ' style="color:red">
      Your data has not been submitted Yet!
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-md-8 '>
      Please reveiw the information below realted to your Organization, Signing Authority, Access Administrator, Users
      and MSP Groups to ensure you have entered the correct details. If you submit incorrect information you will have
      to re-submit your request from the beginning.
      <br />
      You may wish to print this page for your own reference.
      <br />
      If you need to make changes, click relevant form to update. If everything is correct,
      Please click 'Continue' button.
      <br />
      The Submit Request button will generate a PDF document containing the Data Access Agreement.
      You must print, complete, signn and submit this document:
      <div class='col-md-8 p-4'>
        Scan to: <a href="mailto:hlth.hnetconnection@gov.bc.ca">hlth.hnetconnection@gov.bc.ca</a><br />
        Or Fax to: (250) 405-3628<br />
        or mail to:<br />
        <blockquote>
          Data Access Services<br />
          PO BOX 9640 STN PROV GOVT<br />
          Victoria BC V8W 3P1<br />
        </blockquote>
      </div>

    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-md-8 '>
      <h3 class="border-bottom">Organization</h3>
      <div class="col-auto mr-auto">
        {{ mspRegisterStateSvc.organization | json }}
      </div>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-md-8 '>
      <h3 class="border-bottom">Singing Authority</h3>
      <div class="col-auto mr-auto">
          {{ mspRegisterStateSvc.signingAuthority | json }}
      </div>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-md-8 '>
      <h3 class="border-bottom">Access Administrators</h3>
      <div class="col-auto mr-auto">
          {{ mspRegisterStateSvc.accessAdmins | json }}
      </div>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-md-8 '>
      <h3 class="border-bottom">Users</h3>
      <div class="col-auto mr-auto">
          {{ mspRegisterStateSvc.users | json }}
      </div>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-md-8 '>
      <h3 class="border-bottom">Group Numbers</h3>
      <div class="col-auto mr-auto">
          {{ mspRegisterStateSvc.groups | json }}
      </div>
    </div>
  </div>

</common-page-framework>
<common-form-action-bar (btnClick)="continue()" [canContinue]="validFormGroup(fgs)">
</common-form-action-bar>