<common-page-framework layout='blank'>
  <h1 class="border-bottom">MSP Group Numbers</h1>
  <common-page-section layout='tips'>
    <aside>MSP Group Numbers administered through MSP Direct on behalf of the Organization.</aside>
    <div class="row">
      <button type='button' class='btn btn-secondary col mr-4' (click)="formAddNew()">Add a new MSP Group</button>
      <button type='button' class='btn btn-secondary col mx-2' (click)="formRemoveNew()">Remove MSP Group</button>
      <button type='button' class='btn btn-secondary col ml-4' (click)="formEditNew()">Update administration of MSP
        Group</button>
    </div>
  </common-page-section>

  <common-page-section layout='noTips' class="pt-4">

    <sitereg-update-group-remove #formRemove [formState]="formRemoveState" (formArrayChanged)="formRemoveStateChanged($event)">
    </sitereg-update-group-remove>

  </common-page-section>

  <common-page-section layout='noTips' class="pt-4">

    <sitereg-update-group-add #formAdd [formState]="formAddState" (formArrayChanged)="formAddStateChanged($event)">
    </sitereg-update-group-add>

  </common-page-section>

  <common-page-section layout='noTips' class="pt-4">

    <sitereg-update-group-edit #formEdit [formState]="formEditState" (formArrayChanged)="formEditStateChanged($event)">
    </sitereg-update-group-edit>

  </common-page-section>

</common-page-framework>

<common-form-action-bar (btnClick)="continue()" [submitLabel]="buttonLabel" [canContinue]='canContinue()'>
</common-form-action-bar>