<label for="{{labelforId}}" class="control-label">{{label}}</label>
<input type="text"
       class="form-control"
       id="{{labelforId}}"
       [value]="value"
       (change)="onValueChange( $event.target.value )"
       (blur)="onBlurEvent( $event )"
       [disabled]="disabled"
       [attr.maxlength]="maxlen"
       autocomplete="off" />
<!-- Error messages for component -->
<div *ngIf="controlDir && !controlDir.disabled && ( controlDir.dirty || controlDir.touched )"
      role="alert"
      class="error-container"
      aria-live="assertive">
  <div class="text-danger" *ngIf="controlDir.errors?.required">
    {{label}} is required.
  </div>
  <div class="text-danger" *ngIf="controlDir.errors?.minLength">
    Invalid {{label}}, {{label}} must be {{minlen}} digits long.
  </div>
</div>
