<div>
    <sitereg-msp-register-user [fg]="fg"></sitereg-msp-register-user>
  <div class="form-group col-sm-8 p-sm-0">
    <form [formGroup]="fg">
      <label class="control-label">Does the Signing Authority require access to MSP Direct? *
      </label>
      <div class="form-check">
        <input class='form-check-input' formControlName="directMspAccess" type="radio" name="" id="bctrue" tabindex="0"
          [value]="true">
        <label class='form-check-label' for="bctrue">
          Yes
        </label>
        <input class='form-check-input' formControlName="directMspAccess" type="radio" id="bcfalse" tabindex="0"
          [value]="false">
        <label class='form-check-label' for="bcfalse">
          No
        </label>
        <sitereg-error-box [error]="validFormControl(fg,'directMspAccess')" errorMessage="Please select an option">
        </sitereg-error-box>
      </div>
    </form>
  </div>
</div>