@import 'variables.scss';

// TODO: May need to move to common area if other pages use print icon
.msp-icon--print {
  border: none;
  background-color: transparent;
  float: right;
  margin-left: -15px;
  margin-top: -15px;
  position: relative;
  z-index: 2;
}

.section {
  padding: 0.5rem;
}

.line-item {
  display: flex;
  flex-direction: row;
}

.line-item--text {
  width: 60%
}

.line-item--value {
  font-weight: normal;
}

.edit--icon {
  cursor: pointer;
  float: right;
}
