<common-page-framework layout='blank'>

  <!-- <sitereg-msp-h2-with-print title="#NotForTesting Review your request for Update"></sitereg-msp-h2-with-print> -->
  <div class="container align-items-start ml-0 pl-0">

    <!--Component Heading-->
    <div class="row col-md-8 ml-0 pl-0 align-items-center border-bottom">
      <div class="col-md-6 pl-0">
        <h1>Review your request for Updates</h1>
      </div>
      <div class="col-md-2 ml-auto  text-right">
        <button tabindex="0" class="btn btn-default " onclick="window.print();return false;" title="Print">
          <i class="fa fa-print fa-lg pointer" aria-hidden="true"></i> Print
        </button>
      </div>
    </div>

    <!-- <div class='row col-md-8 ml-0 pl-0 mb-4'>
      <div class="mb-2">
        <sitereg-update-json-view  [showRaw]="false" [showJson]="true"  [json]='json()'></sitereg-update-json-view>
      </div>
    </div> -->

      <!--Content-->
      <div class='row col-md-8 ml-0 pl-0 mb-4'>
        Please review your information to ensure you have entered the correct details. If you submit incorrect information you will have to re-submit your request.
      </div>


      <sitereg-update-requestor-review></sitereg-update-requestor-review>
      <sitereg-update-organization-review></sitereg-update-organization-review>
      <sitereg-update-signing-authority-review></sitereg-update-signing-authority-review>
      <sitereg-update-access-admin-review></sitereg-update-access-admin-review>
      <sitereg-update-user-review></sitereg-update-user-review>
      <sitereg-update-group-review></sitereg-update-group-review>

    
  </div>
  <!-- <h1 class="border-bottom">Review your request for Update</h1> -->
  <!-- <common-page-section layout='tips'>
    <div class="d-flex row">
      <div class="col-md-6">
        <sitereg-msp-review-section sectionTitle="Requester Information" [reviewItems]="getRequesterData()"
          (clickEvent)="editRequesterData()"></sitereg-msp-review-section>

        <sitereg-msp-review-section sectionTitle="Organization" [reviewItems]="getOrgData()"
          (clickEvent)="editOrgData()">
        </sitereg-msp-review-section>

        <sitereg-msp-review-section sectionTitle="Signing Authority (Add)" [reviewItems]="getAddSignAuthData()"
          (clickEvent)="editSignAuthData()"></sitereg-msp-review-section>
          
      </div>
    </div>
  </common-page-section> -->


</common-page-framework>
<common-form-action-bar (btnClick)="continue()"></common-form-action-bar>