<common-page-framework layout='blank'>

  <!-- <sitereg-msp-h2-with-print title="#NotForTesting Review your request for Update"></sitereg-msp-h2-with-print> -->
  <h1 class="border-bottom">Review your request for Update</h1>

  <div class="d-flex row">
    <div class="col-md-6">
      <sitereg-msp-review-section sectionTitle="Requester Information" [reviewItems]="getRequesterData()"
        (clickEvent)="editRequesterData()"></sitereg-msp-review-section>

      <sitereg-msp-review-section sectionTitle="Organization" [reviewItems]="getOrgData()" (clickEvent)="editOrgData()">
      </sitereg-msp-review-section>

      <sitereg-msp-review-section sectionTitle="Signing Authority (Add)" [reviewItems]="getAddSignAuthData()"
        (clickEvent)="editSignAuthData()"></sitereg-msp-review-section>
    </div>

  </div>

  <common-form-action-bar (btnClick)="continue()"></common-form-action-bar>
</common-page-framework>