<h2 class="border-bottom">Group Numbers</h2>
<sitereg-page-sections *ngIf="fg">

  <form [formGroup]="fg">
    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label" for="name">Organization</label>
      <input id="name" formControlName="name" class="form-control">
      <div class="text-danger" *ngIf="fg.invalid">
        {{ fg.errors}}
      </div>

    </div>
  </form>
</sitereg-page-sections>
<common-form-action-bar (btnClick)="continue()" [canContinue]="fg.valid">

</common-form-action-bar>
