<form [formGroup]="parentForm">
  <div formArrayName="arrayOfForms" *ngFor="let fg of getFormsArray.controls; let formIndex=index">
    <form [formGroupName]='formIndex'>
      <common-xicon-button class='d-block pb-1' label="Cancel Remove Access Administrator" (clickEvent)="removeForm(formIndex)">
      </common-xicon-button>
      <h2 class='border-bottom'>Remove an existing MSP Group #{{getFormsArray.controls.length - formIndex}}</h2>
      <common-page-section layout='tips'>
        <aside>MSP Group Information</aside>

        <div class='form-group col-sm-8 p-sm-0'>
          <label for='groupNo_remove_{{formIndex}}'>Enter Msp Group Number</label>
          <input type='text' class='form-control' formControlName='groupNo' id='groupNo_remove_{{formIndex}}' maxlength="7">

          <sitereg-error-box [error]="validFormControl(fg, 'groupNo')" errorMessage="Please provide valid Group Number">
          </sitereg-error-box>

          <sitereg-update-json-view [showRaw]="false" [raw]='fg.value' [showJson]="true" [json]='json(fg.value)'>
          </sitereg-update-json-view>

        </div>
      </common-page-section>
    </form>
  </div>
</form>