.end {
  text-align: right;
}

.form-check-label {
  width: 20%;
  font-weight: normal;
}

.label-right {
  padding-left: 5px;
  font-weight: normal;
}

.list-no-bullets{
  list-style-type: none; 
  list-style-position: inside;
  padding-left: 0px;
  padding-top: 5px;

  .li-inline {
  display: inline;
  padding-right: 5px;
  }
}

.aggrement-ol {

  .aggrement-li {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}


.list-table {
  position: relative;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  width:100%;
  .column-label {
    width:28%;
    padding-left: 5px;
  }
}


.aggrement-table {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding:10px;  
}


h3 {
  padding-left: 20px;
}

p {
  padding-left: 20px;
}

.labelwidth {
  width: 100px;
}

.marginLeft
{
  padding-left: 15px;
}

.selectedOption {
  font-style: bold;
}

.consent {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 20px;
  font-weight: normal;
}

.captcha {
  margin-top: 5px;
  // padding-bottom: 20px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.extrablock{
  display:block;width:100%;min-height:50px;  
}
.extrablock::before{
  content:'&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>';
}
