
<h2 >Authorize</h2>
<div class="row">
<span class="border-bottom col-sm-8">These are the MSP Group Numbers you will be administering for MSP Direct.</span>
<span class="end col-sm-4 border-bottom">{{date | date: 'yyyy-MMM-dd' }}</span>
</div>
<sitereg-page-sections *ngIf="fg">
  <h2 *ngIf="mspRegDataSvc.agreementNumber | async as num">Agreement number: {{ num}}</h2>
  <p *ngIf="mspRegDataSvc.agreementText | async as text">{{text}}</p>
  <p *ngIf="mspRegDataSvc.signingAuthorityName | async as name">{{name}}</p>
  <p *ngIf="mspRegDataSvc.signingAuthorityAddress | async as addr">{{addr}}</p>

  <div class="form-check form-check-inline mb-5">
    <input class="input-lg form-check-input" id="firstPersonAuthorize"  type="checkbox">
    <label class="form-check-label" for="firstPersonAuthorize"></label>
</div>

  <div class="row">
    <sitereg-captcha [apiBaseUrl]=""
             [nonce]=""
             (onValidToken)="validToken($event)"
             successMessage="You can save the form now.">
    </sitereg-captcha>
</div>

</sitereg-page-sections>
<common-form-action-bar (btnClick)="continue()" [canContinue]="fg.valid">

</common-form-action-bar>
