<common-page-framework layout='blank'>
  <h3>MSP Group Numbers</h3>
  <p>MSP Group Numbers administered through MSP Direct on behalf of the Organization.</p>
  <hr>

  <common-page-section layout='noTips'>
    <div class="row">
      <button type='button' class='btn btn-secondary col mr-4' (click)="AddMspGroup()">Add MSP Group</button>
      <button type='button' class='btn btn-secondary col mx-2' (click)="RemoveMspGroup()">Remove MSP Group</button>
      <button type='button' class='btn btn-secondary col ml-4' (click)="UpdateMspGroupAdmin()">Update administration of MSP Group</button>
    </div>
  </common-page-section>

  <common-page-section layout='noTips'>

  </common-page-section>

</common-page-framework>

<common-form-action-bar (btnClick)="continue()"
                        widthOption='extra-width-mobile-only'
                        [submitLabel]="buttonLabel">
</common-form-action-bar>
