<form [formGroup]="parentForm">
  <div formArrayName="arrayOfForms" *ngFor="let fg of getFormsArray.controls; let formIndex=index">

    <form [formGroupName]='formIndex'>

      <common-xicon-button class='d-block pb-1' label="Cancel Remove User" (clickEvent)="removeForm(i)">
      </common-xicon-button>
      <h2 class='border-bottom'>Remove a User #{{getFormsArray.controls.length - formIndex}}</h2>
      <common-page-section layout='tips'>

        <!-- <aside>User information</aside> -->

        <div class='form-group col-sm-8 p-sm-0'>

          <label for='emailAddress_remove_{{formIndex}}'>Enter the email of the User to remove</label>
          <input type='text' class='form-control' name='emailAddress_remove_{{formIndex}}' formControlName='emailAddress'
            id='emailAddress_remove_{{formIndex}}' maxlength="100">

          <sitereg-update-error-box [formControlValidity]="formControlValidity(fg,'emailAddress')"
            formControlLabel="Email" errorMessage="Please provide valid email address.">
          </sitereg-update-error-box>

          <label for='ministryUserId_remove_{{formIndex}}'>Ministry assigned User ID (optional)</label>
          <input type='text' class='form-control' name='ministryUserId_remove_{{formIndex}}' formControlName='ministryUserId'
            id='ministryUserId_remove_{{formIndex}}' maxlength="20">

          <sitereg-update-error-box [formControlValidity]="formControlValidity(fg,'ministryUserId')"
            formControlLabel="Ministry assigned User ID" errorMessage="Please provide valid Ministry assigned User Id.">
          </sitereg-update-error-box>
          
          <!-- <sitereg-update-json-view [showRaw]="false" [raw]='fg.value' [showJson]="true" [json]='json(fg.value)'>
          </sitereg-update-json-view> -->

        </div>
      </common-page-section>

    </form>
  </div>
</form>