<!-- TODO: ask if the control to add access administrators is the button click. UX is confusing -->
<h2 class="border-bottom">Access Admins</h2>
<div class='row mb-4'>
  <div class='col-md-3 p-4'>
    <a (click)='addFormGroup()'>
      <button class="btn btn-block btn-lg btn-secondary">
        Add New Access Admin
      </button>
    </a>
  </div>
</div>
<sitereg-page-sections *ngFor="let fg of fgs; index as i">
  <div class="row border-bottom">
    <div class="col-auto mr-auto">
      <h3> Access Admin #{{fgs.length-i}}</h3>
    </div>
    <div class="col-auto">
      <button  class="btn delete"  (click)="deleteFormGroup(i)" type="button">
      <i style="color: red !important;" class="fa fa-2x fa-times-circle"></i>
    </button>
    </div>
  </div>
  <sitereg-msp-register-user-msp [fg]="fg"  [showMspDirectAccessQuestion]="false" ></sitereg-msp-register-user-msp>
</sitereg-page-sections>
<common-form-action-bar  class="fixed-bottom" (btnClick)="continue()" [canContinue]="validFormGroup(fgs)">
</common-form-action-bar>