<!-- TODO: ask if the control to add access administrators is the button click. UX is confusing -->
<h2 class="border-bottom">Access Admins</h2>
<div class='row mb-4'>
  <div class='col-md-3 p-4'>
    <a (click)='addAdmin()'>
      <button class="btn btn-block btn-lg btn-secondary">
        Add Access Admin
      </button>
    </a>
  </div>
</div>

<sitereg-page-sections *ngFor="let fg of fgs; index as i">
  <!-- <ng-container *ngTemplateOutlet="addAdmins"> -->
  <h2 class="border-bottom">Add New Access Admin</h2>
  <button (click)="delete(i)">Delete</button>
  <form [formGroup]="fg">
    <sitereg-msp-register-user-msp  [fg]="fg"  ></sitereg-msp-register-user-msp>
  </form>
  <!-- </ng-container> -->
</sitereg-page-sections>
<common-form-action-bar (btnClick)="continue()" [canContinue]="validForms">

</common-form-action-bar>
